/*
https://colorhunt.co/palette/219735
Renk paleti kullanılmıştır.
#d35d6e Red
#efb08c Orange
#f8d49d Yellow
#5aa469 Green
*/

.flex-container {
    display: inline-flex;
    align-items: center;
    background-color:#d35d6e ;
    width: 100vw;
  }

  html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.5;
    background: #f5f0f0;
}

header{
    position: fixed;
    top: 0; 
}

.author-name {
    color: black;
    padding-left: 10vw;
    font-size: 1.5vw;
}

.flex-container ul {
    font-size: 1.5vw;
    display: inline-flex;
    padding-left: 10vw;
    list-style-type: none;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;

  }

.flex-container nav {
    margin-left: 35vw;
}

.flex-container li {
    justify-content: flex-end;
    margin-right:3vw ;
    display: flex;
    height: 1vh;

}
.flex-container a {
    color: black;
    text-decoration: none;
    font-size: 1vw;
}

.photo-of-me {
    margin-top: 7vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.information-of-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo-of-me img{
    border-radius: 50%;
    block-size: 20vw;
}

.information-of-me h1{
    display: flex;
    justify-content: center;
    font-size: 3.5vw;
}

.information-of-me h4{
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    font-size: 1.5vw;

}
#teacher{
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    font-size: 2.5vw;

}


.educations{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
    margin-right: 5vw;    
}

.educations div{
    justify-content: end;
    display: inline-flex;
    margin: 2vh;
}

.main-educations{
    background-color:#d35d6e ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#educations-name{
    justify-content: center;
    align-self: center;
    font-size: 1.5vw;
    margin-top: 1vw;
}
 
.educations img {
    max-width: 5.5vh;
    align-self: center;
}

.educations-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
}

.educations-details h3{
    align-self: center;
    font-size: 1vw;
}

.educations-details h5{
    align-self: center;
    font-size: 0.8vw;
}

.lessons-list{
    display: flex;
    flex-direction: column;
    margin-right: 3vw;
    margin-left: 3vw;
}
.lessons-list div{
    margin-top: 2vw;
}

.lesson{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lesson div{
    margin-right: 1vw;
}

.lesson img{
    width: 10vw;
    height: 10vh;
}

.lesson-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lesson-details div{
    font-size: 1.5vw;
}

#lessons-top-text{
    justify-content: center;
    align-self: center;
    font-size: 2vw;
    margin-top: 1vw;
}

.lesson-details div{
    line-height: 3px;
}

.lessons-together {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.all-lesson-items{
    display: flex;
    flex-direction: column;
}
.form{
    margin-top: 3vw;
    display: flex;
    justify-content: center;
}
#lesson-header{
    font-style: oblique;
    font-weight: bold;
}